:root {
  --font-sans: "sans-serif";
  --font-serif: "prestige-elite-std", serif;
  --font-base: 1rem;
  --font-scale: 1.25;
  --font-size-1: var(--font-base);
  --font-size-2: calc( var(--font-size-1) * var(--font-scale));
  --font-size-3: calc( var(--font-size-2) * var(--font-scale));
  --font-size-4: calc( var(--font-size-3) * var(--font-scale));
  --font-size-5: calc( var(--font-size-4) * var(--font-scale));
  --font-size-6: calc( var(--font-size-5) * var(--font-scale));
  --color-secondary: #F7EFF1;
  --color-medium: #524E4E;
  --color-primary: #242121;
  --color-accent-1: #839CCC;
  --color-accent-2: #F5CA6A;
  --color-accent-3: #D16A72;
  --section-gap: 20rem;
  --section-gap-inner: 6.25rem;
  --section-gap-inner-small: 2.5rem;
  --grid-gap: 1rem;
  --page-width: 72rem;
  --page-padding: 30px;
  --menu-height: 80px;
  --grid-container: minmax(var(--page-padding), 1fr) [inner-start] minmax(0,var(--page-width)) [inner-end] minmax(var(--page-padding), 1fr);
  --grid-content: repeat(12, 1fr);
}
@media screen and (max-width: 500px) {
  :root {
    --page-padding: 10px;
  }
}

[data-theme=light] {
  --color-primary: #F4F4F4;
  --color-medium: #D3D3D3;
  --color-secondary: #242121;
  --color-accent-1: #839CCC;
  --color-accent-3: #F5CA6A;
  --color-accent-2: #D16A72;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--color-primary);
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-serif);
  color: var(--color-secondary);
  margin: 0 0 2rem 0;
}

h1 {
  font-size: var(--font-size-6);
}
@media screen and (max-width: 1200px) {
  h1 {
    font-size: var(--font-size-4);
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: var(--font-size-3);
  }
}
@media screen and (max-width: 400px) {
  h1 {
    font-size: var(--font-size-2);
  }
}

h2 {
  font-size: var(--font-size-5);
}
@media screen and (max-width: 1200px) {
  h2 {
    font-size: var(--font-size-3);
  }
}
@media screen and (max-width: 800px) {
  h2 {
    font-size: var(--font-size-2);
  }
}
@media screen and (max-width: 400px) {
  h2 {
    font-size: var(--font-size-1);
  }
}

h3 {
  font-size: var(--font-size-4);
}
@media screen and (max-width: 1200px) {
  h3 {
    font-size: var(--font-size-3);
  }
}
@media screen and (max-width: 800px) {
  h3 {
    font-size: var(--font-size-2);
  }
}
@media screen and (max-width: 400px) {
  h3 {
    font-size: var(--font-size-1);
  }
}

h4 {
  font-size: var(--font-size-3);
}

h5 {
  font-size: var(--font-size-2);
}

h6 {
  font-size: var(--font-size-1);
}

p, li {
  line-height: 2;
  font-family: var(--font-serif);
  color: var(--color-secondary);
  font-size: var(--font-size-2);
}
@media screen and (max-width: 1100px) {
  p, li {
    font-size: var(--font-size-1);
  }
}
@media screen and (max-width: 400px) {
  p, li {
    font-size: 14px;
  }
}

a {
  color: var(--color-accent-1);
  line-height: 2;
  font-family: var(--font-serif);
}
a:hover {
  color: var(--color-secondary);
  text-decoration: none;
}

.footer {
  grid-column: inner;
  display: grid;
  grid-template-columns: var(--grid-content);
  height: 500px;
  align-items: center;
}
@media screen and (max-width: 710px) {
  .footer {
    grid-template-rows: repeat(2, 180px);
  }
}
.footer .contact-info {
  grid-column: 2/9;
}
@media screen and (max-width: 710px) {
  .footer .contact-info {
    grid-column: 2/12;
  }
}
@media screen and (max-width: 510px) {
  .footer .contact-info h2 {
    font-size: 4.8vw;
  }
}
@media screen and (max-width: 400px) {
  .footer .contact-info h2 {
    font-size: 5vw;
  }
}
.footer .contact-info h2::after {
  content: "";
  max-width: 580px;
  height: 2px;
  background-color: var(--color-secondary);
  display: block;
}
@media screen and (max-width: 1200px) {
  .footer .contact-info h2::after {
    max-width: 370px;
  }
}
@media screen and (max-width: 800px) {
  .footer .contact-info h2::after {
    max-width: 297px;
  }
}
@media screen and (max-width: 510px) {
  .footer .contact-info h2::after {
    max-width: 72vw;
  }
}
@media screen and (max-width: 400px) {
  .footer .contact-info h2::after {
    max-width: 75vw;
  }
}
.footer .contact-info p {
  max-width: 460px;
  font-size: 16px;
}
@media screen and (max-width: 400px) {
  .footer .contact-info p {
    font-size: 12px;
  }
}
.footer .contact-info span {
  font-weight: 700;
}
.footer .footer-menu {
  grid-column: 10/12;
}
@media screen and (max-width: 710px) {
  .footer .footer-menu {
    grid-column: 2/12;
  }
}
.footer .footer-menu .menu__list {
  list-style: none;
  margin: 0;
  padding: 0;
}
.footer .footer-menu .menu__list li {
  margin-bottom: 30px;
}
@media screen and (max-width: 710px) {
  .footer .footer-menu .menu__list li {
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 0;
  }
}

.header {
  width: 100vw;
  height: var(--menu-height);
  display: flex;
  justify-content: space-between;
  position: fixed;
  align-items: center;
}
.header .branding {
  margin: 0 0 0 var(--section-gap-inner-small);
}
.header .branding svg {
  width: 65px;
}
.header .branding #Path_7 {
  fill: var(--color-medium);
}
.header .branding #Path_8 {
  fill: var(--color-secondary);
}
.header .mode-button {
  margin: 0 var(--section-gap-inner-small) 0 0;
  cursor: pointer;
}
.header .mode-button svg {
  cursor: pointer;
}
.header .mode-button #Ellipse_32 {
  fill: var(--color-secondary);
}
.header .mode-button #Subtraction_5 {
  fill: var(--color-primary);
}

#checkbox {
  visibility: hidden;
}

.container__inner {
  display: grid;
  grid-template-columns: var(--grid-container);
}

.section {
  grid-column: inner;
}

.about {
  display: grid;
  grid-template-columns: var(--grid-content);
  margin-bottom: var(--section-gap);
}
.about__text {
  margin-bottom: var(--section-gap-inner);
  grid-column: 2/12;
}
.about__text .links {
  margin-top: var(--section-gap-inner-small);
  font-size: var(--font-size-3);
}
.about__text .links a:first-of-type {
  margin-right: var(--menu-height);
}
.about__skills {
  grid-column: 1/13;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (max-width: 970px) {
  .about__skills {
    justify-content: center;
  }
}
.about__skills .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px;
  width: 100px;
}
@media screen and (max-width: 400px) {
  .about__skills .skill svg {
    width: 61.001px;
  }
}
@media screen and (max-width: 400px) {
  .about__skills .skill #skill-res {
    width: 69.202px;
  }
}
.about__skills .skill p {
  max-width: 100px;
  font-size: 12px;
  text-align: center;
  color: var(--color-accent-2);
}
@media screen and (max-width: 400px) {
  .about__skills .skill p {
    font-size: 10px;
  }
}
.about__skills .skill svg {
  fill: var(--color-secondary);
}
.about__skills .skill #Path_66 {
  fill: var(--color-primary);
}

.copyright {
  grid-column: inner;
  text-align: center;
  font-size: 12px;
  color: var(--color-medium);
  margin-bottom: 10px;
}

.hero {
  height: 100vh;
  min-height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__text {
  text-align: center;
}
.hero__text .line-1 {
  line-height: 1.5;
  font-weight: 400;
  font-size: 3.1vw;
}
@media screen and (max-width: 500px) {
  .hero__text .line-1 {
    font-size: 3.6vw;
  }
}
.hero__text .line-2 {
  font-weight: 400;
  font-size: 6vw;
}
@media screen and (max-width: 500px) {
  .hero__text .line-2 {
    font-size: 7vw;
  }
}
.hero-links {
  margin-top: 4rem;
  font-size: var(--font-size-4);
  text-align: center;
}
@media screen and (max-width: 650px) {
  .hero-links {
    font-size: var(--font-size-1);
  }
}
.hero-links .behance {
  margin-right: 5rem;
}
@media screen and (max-width: 500px) {
  .hero-links .behance {
    margin-right: 2rem;
  }
}
.hero-links a {
  color: var(--color-accent-2);
}
.hero-links a:hover {
  color: var(--color-secondary);
}

/*# sourceMappingURL=style.css.map */
