@use '../tools/responsive';

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
    color: var(--color-secondary);
    margin: 0 0 2rem 0;


}

h1 {
    font-size: var(--font-size-6);

    @include responsive.max(1200px){
        font-size: var(--font-size-4);
    }

    @include responsive.max(800px){
        font-size: var(--font-size-3);
    }

    @include responsive.max(400px){
        font-size: var(--font-size-2);
    }
   
   
}

h2 {
    font-size: var(--font-size-5);
    @include responsive.max(1200px){
        font-size: var(--font-size-3);
    }

    @include responsive.max(800px){
        font-size: var(--font-size-2);
    }

    @include responsive.max(400px){
        font-size: var(--font-size-1);
    }
  
}

h3 {
    font-size: var(--font-size-4);
    @include responsive.max(1200px){
        font-size: var(--font-size-3);
    }

    @include responsive.max(800px){
        font-size: var(--font-size-2);
    }
    @include responsive.max(400px){
        font-size: var(--font-size-1);
    }
}

h4 {
    font-size: var(--font-size-3);
}

h5 {
    font-size: var(--font-size-2);
}

h6 {
    font-size: var(--font-size-1);
}

p, li {
    line-height: 2;
    font-family: var(--font-serif);
    color: var(--color-secondary);
    font-size: var(--font-size-2);

    @include responsive.max(1100px){
        font-size: var(--font-size-1);
    }

    @include responsive.max(400px){
        font-size: 14px;
    }
  
}

a{
    color: var(--color-accent-1);
    line-height: 2;
    font-family: var(--font-serif);

    &:hover{
        color: var(--color-secondary);
        text-decoration: none;
    }
}