.header{
    width: 100vw;
    height: var(--menu-height);
    display: flex;
    justify-content: space-between;
    position: fixed;
    align-items: center;

    
    .branding{
        margin: 0 0 0 var(--section-gap-inner-small);
       
        svg{
            width: 65px;
        }

        #Path_7{
            fill: var(--color-medium);
        }
        #Path_8{
            fill: var(--color-secondary);
        }
    }

    .mode-button{
        margin: 0 var(--section-gap-inner-small) 0 0;
       
        cursor: pointer;

        svg{
            cursor: pointer;
        }

        #Ellipse_32{
            fill: var(--color-secondary); 
        }

        #Subtraction_5{
            fill: var(--color-primary); 
        }
    }
}

#checkbox{
    visibility: hidden;

}


