.header{
    width: 100vw;
    height: var(--menu-height);
    display: flex;
    justify-content: space-between;
    position: absolute;
    
    .branding{
        margin: var(--section-gap-inner-small) 0 0 var(--section-gap-inner-small);

        #Path_7{
            fill: var(--color-medium);
        }
        #Path_8{
            fill: var(--color-secondary);
        }
    }

    .mode-button{
        margin: var(--section-gap-inner-small) var(--section-gap-inner-small) 0 0;
       
        cursor: pointer;

        #Ellipse_32{
            fill: var(--color-secondary); 
        }

        #Subtraction_5{
            fill: var(--color-primary); 
        }
    }
}

#checkbox{
    visibility: hidden;

}